.btn-blue {
    background-color: #3A5AFF;
    border-radius: 5px;
    color: #fff !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #3A5AFF;
    border-radius: 5px;
    color: #fff !important;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: #fff;
    border: 1px solid #979797;
    color: #979797 !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
}

.logo {
    width: 80%;
    padding-bottom: 10px;
}

.navbar-light {
    background-color: #fff !important;
}

.f-64 {
    font-size: 64px;
}

.f-20 {
    font-size: 20px;
}

.pd-right-40 {
    padding-right: 40px !important;
}

.pd-left-40 {
    padding-left: 40px !important;
}

.pd-top-10 {
    padding-top: 10px;
}

.pd-bottom-10 {
    padding-bottom: 10px;
}

.pd-top-20 {
    padding-top: 20px;
}

.pd-bottom-20 {
    padding-bottom: 20px;
}

.pd-top-30 {
    padding-top: 30px;
}

.pd-bottom-30 {
    padding-bottom: 30px;
}

.f-16 {
    font-size: 16px;
}

.h-100vh {
    height: calc(100vh - 77px);
}

.line-blue {
    width: 10%;
    margin: 0 auto;
    border: 2px solid #3A5AFF;
    opacity: 1;
}

.link-transparent {
    color: #000;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
}

.bg-grey {
    background: #F2F2F2;
}